<div class="box">
  <h2>Lid worden</h2>
  <ul>

    <div class="info">

      <p align="center">
        <br>Dan meldt u zich aan op het e-mail adres van het bestuur van de Cobra Club Belgium
        <br>
        <br>
        <A HREF="mailto:cobraclubbelgium2006@hotmail.com?SUBJECT=Lid worden">cobraclubbelgium2006@hotmail.com</A>
        <br>onder vermelding van uw persoonlijke gegevens:
        <br>naam, voornaam, adres, e-mail adres, telefoon- en/of gsm-nummer, geboortedatum.
        <br>
        <br>Het lidgeld bedraagt 35 € per jaar (2,92 € per maand).
        <br>Dit bedrag dient gestort te worden op rekening nummer
        <br> IBAN : BE18 9731 3041 9665
        <br> BIC : ARSPBE22
        <br>met als vermelding "lidgeld UwVoornaam UwNaam".
        <br>
        <br>U krijgt een bevestiging van uw inschrijving via uw e-mail adres.
        <br>Na ontvangst van uw lidgeld bent u lid van onze club.
        <br>
        <br>Om lid te worden van de CCB is het niet verplicht om een Cobra te bezitten.
        <br>
        <br>Tot ziens bij de Cobra Club Belgium.
      </p>

      <div class="cl">&nbsp;</div>
    </div>
  </ul>

  <div class="cl">&nbsp;</div>
</div>
