<div class="box">
  <h2>Club</h2>

  <ul>
    <div class="info">
      <h4>Over de Club</h4>
      <br/>
      <p>De COBRA CLUB BELGIUM werd opgericht op 1-01-2001 en is een feitelijke vereniging die tot
        doel heeft de in BELGIE (en in NEDERLAND) wonende eigenaars en liefhebbers van voertuigen AC
        COBRA en SHELBY COBRA met inbegrip van alle naar het voorbeeld van deze sportwagens gemaakte
        replica's samen te brengen om in een sfeer van kameraadschappelijkheid recreatieve
        activiteiten te ontplooien waarbij het rijwaardig houden, het gebruik en het onder de
        publieke aandacht brengen van deze voertuigen centraal staan.</p>
      <p>Onze club telt momenteel ruim dertig leden. </p>
      <p>Wij geven maandelijks een 'NIEUWSFLASH' uit waarin onder andere de geplande activiteiten aan
        bod komen. </p>

      Op onze evenementen en rondritten zijn alle clubleden + 1 'invité(e)' (echtgenote,
      vriend/vriendin, partner...) welkom, ook die leden die (nog) geen Cobra hebben.

      <br/>

      <p>Buiten diverse dag uitstappen/rondritten/samenkomsten organiseren we minimaal 1 meerdaagse
        uitstap per jaar. </p>

      <p>In 2001: 3-daagse Champagnestreek (Epernay/Vertus/Reims)</p>
      <p>In 2002: 3-daagse uitstap naar Luxemburg </p>
      <p>In 2003: 3-daagse Engeland Europese Cobra-meeting</p>
      <p>In 2003: 2-daagse naar de Ardennen </p>
      <p>In 2004: 3-daagse in de Moeselstreek en 2-daagse in de Ardennen. </p>
      <p>In 2005: 3-daagse in Duitsland en 3-daagse naar Reims. </p>
      <p>In 2006: 2-daagse in de Voerstreek en 3-daagse in de Eifel. </p>
      <p>In 2007: 4-daagse Picardie + 2-daagse Vlaamse Ardennen. </p>
      <p>In 2008: 2-daagse Kust </p>
      <p>In 2009: 3-daagse AC Heritage Rally (GB) </p>
      <p>In 2010: 3-daagse Friesland </p>
      <p>In 2011: 2-daagse Blankenberge</p>
      <p>In 2012: 3-daagse Semois</p>
      <p>In 2012: 2-daagse Porcheresse</p>
      <p>In 2013: Weekend Blankenberge</p>
      <p>In 2013: Weekend Ardennen-Eifel</p>
      <p>In 2013: ECM in Bavaria (D)</p>
      <p>In 2014: Weekend Ardennen-Eifel</p>
      <p>In 2015: Weekend Trooz</p>
      <p>In 2015: Weekend Polderhoeve</p>
      <p>In 2016: Weekend Ardennen</p>
      <p>In 2017: Weekend Noord Frankrijk</p>
      <p>In 2018: Weekend Polderhoeve</p>
      <p>In 2019: Weekend in de Eifel</p>
      <p>In 2022: 4 daagse in de Vogezen</p>

      <div class="cl">&nbsp;</div>
      <br> Never a dull moment bij de Cobra Club Belgium.
      <p>Nieuwe leden zijn van harte welkom. </p>
      <br/>
      <br/>
      <h2>Bestuursleden 2024: </h2>
      <p>Koen Andries </p>
      <p>Chris Haesendonckx</p>
      <p>Luc Branckaerts</p>

      <br/>
      <h2>Adres </h2>
      <p>COBRA CLUB BELGIUM </p>
      <p>Ekelenhoek 25 </p>
      <p>B-2860 Sint Katelijne Waver</p>
      <p>BELGIE</p>

      <div class="cl">&nbsp;</div>

    </div>
  </ul>

  <div class="cl">&nbsp;</div>
</div>
