.box{background:url('/assets/images/dot.png'); padding-bottom:7px}
.box a.up{text-transform: uppercase; float: right; margin-right:12px}
.box ul{list-style-type: none;}
.box li h4 a{ color:#fff; text-decoration: none;}
.box li h4 a:hover{ color:#efd125; }
.box li .info{float: left; display: inline; }

.box h2{width:903px; background:#eed025 url('/assets/images/h2-long.gif') no-repeat right 0; margin-bottom:15px}
